@mixin button {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  border: none;
  width: max-content;
  cursor: pointer;
  box-shadow: 0 1px 3px;

  @media screen and (max-width: 576px) {
    width: 100%;
  }

  &:active {
    box-shadow: 0 1px 1px;
  }

  &:disabled {
    background-color: #29658d30;
    pointer-events: none;
  }

  &.remove {
    background-color: #8d3029dd;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &:focus {
    outline: 4px double #a1d3f5;
    outline-offset: -4px;
  }
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #00000001;
  overflow-x: hidden;
}

header {
  // background-color: #29658ddd;
  color: #fefefe;
  padding: 2rem;
  // border-radius: 6px;
  width: 100%;
  height: max-content;
  min-height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../img/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1e201e;
    opacity: 30%;
  }

  & > * {
    z-index: 2;
  }
  div {
    display: flex;
    align-items: center;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  h1 {
    margin: 2rem 0;

    @media screen and (max-width: 576px) {
      font-size: 2rem;
    }
  }
  svg {
    height: 4rem;
    margin: auto;
    fill: currentColor;
    margin: auto 1rem;
    vertical-align: middle;

    @media screen and (max-width: 425px) {
      height: 3rem;
    }
  }
}

.banner {
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 2rem;
  height: max-content;
  width: 100vw;
  background-color: #4ac774;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  z-index: 100;

  p {
    text-align: center;
    max-width: 75vw;
    height: max-content;
    margin: 1rem 4rem 1rem 0;
    text-transform: capitalize;
    font-size: 1.5rem;

    @media screen and (max-width: 576px) {
      font-size: 1.2rem;
    }
  }

  button {
    @include button();
    height: 2rem;
    padding: 0.5rem;
    justify-self: end;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(0, -50%);
    background: none;
    color: white;
    box-shadow: none;
    border: 2px solid #fefefe;
    display: flex;
    align-items: center;
    // margin: 0 0 0 auto;

    @media screen and (max-width: 576px) {
      width: max-content;
      right: 0.5rem;
    }
  }
  &--hidden {
    // height: 0;
    transform: translateY(-110%);
  }
}

main {
  width: 100%;
  min-height: 70vh;
  padding: 2rem 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 3fr;
    padding: 1rem;
  }
}

form {
  display: flex;
  padding: 2rem;
  // margin: auto;
  // width: 50%;
  grid-row: 1/2;
  grid-column: 1/3;
  grid-area: 1/1/2/3;
  align-self: center;
  justify-self: center;
  order: 0;

  @media screen and (max-width: 768px) {
    grid-area: initial;
  }

  @media screen and (max-width: 576px) {
    flex-direction: column;
    padding: 0rem;
  }

  label {
    font-size: 1rem;
    color: #29658d;
  }

  input {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 1rem 0 2rem;
    border-radius: 4px;
    border-width: 1px;
    // border: none;

    @media screen and (max-width: 768px) {
      margin: 1rem 0 0;
    }
  }

  button {
    @include button;
    align-self: flex-end;

    &[type='submit'] {
      height: 2.5rem;
      background-color: #29658ddd;
      color: #fefefe;
      margin: 1rem 0 2rem 1rem;

      @media screen and (max-width: 768px) {
        margin: 1rem 0 0 1rem;
      }
      &:active {
        background-color: #29658d;
      }
    }
  }
}

.movies-container {
  padding: 2rem;
  text-align: center;
  background-color: #29658d30;
  border-radius: 6px;
  height: max-content;

  @media screen and (max-width: 1024px) {
    padding: 1rem;
  }

  @media screen and (max-width: 768px) {
    order: 2;
  }

  & > p {
    margin: 1rem 0;

    &.empty {
      margin: 3rem 0;

      @media screen and (max-width: 768px) {
        margin: 2rem 0;
      }
    }
  }
}

.nominations-container {
  text-align: center;
  padding: 2rem;
  background-color: #298d7730;
  border-radius: 6px;
  height: max-content;

  @media screen and (min-width: 768px) {
    position: sticky;
    top: 2rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 1rem;
  }

  @media screen and (max-width: 768px) {
    order: 3;
  }

  & > p {
    margin: 1rem 0;

    &.empty {
      margin: 3rem 0;

      @media screen and (max-width: 768px) {
        margin: 2rem 0;
      }
    }
  }
}

h2 {
  margin: 1rem 0;
}

li {
  transition: all 0.3s ease-in-out;
  animation-name: animateIn;
  animation-duration: 300ms;
  // animation-delay: calc(2 * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  flex: 1;

  &.remove {
    animation-name: animateOut;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0) translateY(-8px);
  }
}

.movie {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;

  @media screen and (max-width: 1024px) {
    margin: 1rem 0;
    padding: 0;
  }

  // @media screen and (max-width: 576px) {
  //   margin: 1rem 0;
  //   padding: 0;
  // }

  img {
    height: 5rem;
    width: 4rem;
    object-fit: contain;

    @media screen and (max-width: 576px) {
      align-self: center;
    }
  }

  &__details {
    width: 100%;
    text-align: initial;
    padding: 0 1rem 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    h3 {
      max-width: 80%;

      @media screen and (max-width: 576px) {
        font-size: 1rem;
        max-width: 100%;
      }
    }

    p {
      color: #00000080;

      @media screen and (max-width: 576px) {
        font-size: 0.75rem;
      }
    }

    button {
      @include button;
      background-color: #29658ddd;
      color: #fefefe;
      padding: 0.5rem;
      position: absolute;
      right: 0;
      top: 0;

      @media screen and (max-width: 576px) {
        width: max-content;
        position: initial;
        font-size: 0.57rem;
        margin: 0.5rem 0 0;
        align-self: flex-start;
      }
      // transform: translate(0, -50%);
    }
  }
}
